Repository MattiaPette/BAAA-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,css,scss,md,yaml,yml}": ["prettier --write"]
}

Change template references to BAAA Hub (#17)
  .github/ISSUE_TEMPLATE/config.yml
  API.md
  CONTRIBUTING.md
  README.md
  ai-config.json
  apps/Client.Web/package.json
  apps/Client.Web/public/manifest.json
  apps/Client.Web/src/components/commons/navigation/Sidebar/Sidebar.tsx
  apps/Client.Web/src/types/book.ts
  apps/Client.Web/vite.config.ts
  apps/Server.API/README.md
  apps/Server.API/package.json
  apps/Server.API/src/config/index.ts
  apps/Server.API/src/controllers/bookController.ts
  apps/Server.API/src/middleware/errorHandler.ts
  apps/Server.API/src/types/book.schemas.ts
  baaa-hub.code-workspace
  deployment/README.md
  deployment/docker-compose.yml
  docker-compose.yml
  docs/DOCKER_DEPLOYMENT.md
  docs/MISSING_TESTS.md
  docs/PNPM_INSTALLATION.md
  environments/README.md
  package.json
  packages/shared-types/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: remove self hosted runners
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test-and-coverage.yml
  .github/workflows/typecheck.yml
Due: prettier --write

Add GPL-3.0 license config, fix workspace path, and add security documentation (#22)
  apps/Client.Web/package.json
  apps/Server.API/package.json
  baaa-hub.code-workspace
  docs/SECURITY.md
  package.json
Due: prettier --write

Include MIT License file
  LICENSE
Due: none

Include MIT License file (#23)
  LICENSE
Due: none

Change license from GPL-3.0 to MIT (#25)
  apps/Client.Web/package.json
  apps/Server.API/package.json
  docs/SECURITY.md
  package.json
Due: prettier --write

Reduce Dependabot PR spam with improved grouping and limits (#27)
  .github/dependabot.yml
Due: prettier --write

Optimize GitHub Actions: merge test and coverage jobs (#28)
  .github/workflows/test-and-coverage.yml
Due: prettier --write

Fix Zod v4 breaking changes and update dependencies (#26)
  apps/Client.Web/package.json
  apps/Server.API/package.json
  apps/Server.API/src/middleware/errorHandler.ts
  apps/Server.API/src/middleware/validate.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Remove non-existent labels from dependabot.yml (#31)
  .github/dependabot.yml
Due: prettier --write

fix: templating stuff
  apps/Client.Web/index.html
  deployment/.env.example
  deployment/CHANGELOG.md
  deployment/Dockerfile.backend
  deployment/Dockerfile.frontend
  deployment/NPM_SETUP_GUIDE.md
  deployment/QUICKSTART.md
  deployment/README.md
  deployment/VALIDATION.md
  environments/.env.example
  tsconfig.json
Due: prettier --write

Fix Safari sign-in server error by adding redirect-based login fallback (#33)
  apps/Client.Web/src/components/login/LoginForm/LoginForm.model.ts
  apps/Client.Web/src/components/login/LoginForm/LoginForm.test.tsx
  apps/Client.Web/src/components/login/LoginForm/LoginForm.tsx
  apps/Client.Web/src/containers/Login/Login.test.tsx
  apps/Client.Web/src/containers/Login/Login.tsx
  apps/Client.Web/src/containers/LoginCallback/LoginCallback.test.tsx
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.model.ts
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.spec.tsx
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.tsx
Due: eslint --fix, prettier --write

Remove top bar and replace with sidebar-themed content header (#34)
  apps/Client.Web/src/containers/BaseContainer/BaseContainer.test.tsx
  apps/Client.Web/src/containers/BaseContainer/BaseContainer.tsx
Due: eslint --fix, prettier --write

Build shared-types package before frontend build/type-check in CI workflows (#35)
  .github/workflows/build.yml
  .github/workflows/typecheck.yml
  deployment/CHANGELOG.md
  deployment/NPM_SETUP_GUIDE.md
  deployment/QUICKSTART.md
  deployment/VALIDATION.md
  docs/SECURITY.md
Due: prettier --write

feat: new logo
  apps/Client.Web/src/assets/baaa.png
  apps/Client.Web/src/assets/shrimp.png
  apps/Client.Web/src/components/commons/errors/RootErrorFallback/RootErrorFallback.tsx
  apps/Client.Web/src/components/commons/navigation/TopbarTitle/TopbarTitle.tsx
  apps/Client.Web/src/components/login/LoginForm/LoginForm.tsx
  apps/Client.Web/src/containers/BaseContainer/BaseContainer.tsx
Due: eslint --fix, prettier --write

Develop -> Master (#36)
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test-and-coverage.yml
  .github/workflows/typecheck.yml
  apps/Client.Web/index.html
  apps/Client.Web/src/assets/baaa.png
  apps/Client.Web/src/assets/shrimp.png
  apps/Client.Web/src/components/commons/errors/RootErrorFallback/RootErrorFallback.tsx
  apps/Client.Web/src/components/commons/navigation/TopbarTitle/TopbarTitle.tsx
  apps/Client.Web/src/components/login/LoginForm/LoginForm.model.ts
  apps/Client.Web/src/components/login/LoginForm/LoginForm.test.tsx
  apps/Client.Web/src/components/login/LoginForm/LoginForm.tsx
  apps/Client.Web/src/containers/BaseContainer/BaseContainer.tsx
  apps/Client.Web/src/containers/Login/Login.test.tsx
  apps/Client.Web/src/containers/Login/Login.tsx
  apps/Client.Web/src/containers/LoginCallback/LoginCallback.test.tsx
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.model.ts
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.spec.tsx
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.tsx
  deployment/.env.example
  deployment/Dockerfile.backend
  deployment/Dockerfile.frontend
  deployment/NPM_SETUP_GUIDE.md
  deployment/README.md
  environments/.env.example
  tsconfig.json
Due: eslint --fix, prettier --write

Replace React and Vite logos with shrimp image (#37)
  apps/Client.Web/public/apple-touch-icon.png
  apps/Client.Web/public/favicon-16x16.png
  apps/Client.Web/public/favicon-32x32.png
  apps/Client.Web/public/favicon.svg
  apps/Client.Web/public/mstile-150x150.png
  apps/Client.Web/public/pwa-192x192.png
  apps/Client.Web/public/pwa-512x512.png
  apps/Client.Web/public/screenshots/screenshot-desktop.png
  apps/Client.Web/public/screenshots/screenshot-mobile.png
  apps/Client.Web/public/vite.svg
  apps/Client.Web/src/assets/react.svg
  apps/Client.Web/src/assets/vite.svg
Due: none

Remove all demo data and unused components (#39)
  apps/Client.Web/src/components/books/BookDialog/BookDialog.test.tsx
  apps/Client.Web/src/components/books/BookDialog/BookDialog.tsx
  apps/Client.Web/src/containers/Books/Books.tsx
  apps/Client.Web/src/containers/ComponentsDemo/ComponentsDemo.test.tsx
  apps/Client.Web/src/containers/ComponentsDemo/ComponentsDemo.tsx
  apps/Client.Web/src/containers/ComponentsDemo/DataDisplayDemo/DataDisplayDemo.test.tsx
  apps/Client.Web/src/containers/ComponentsDemo/DataDisplayDemo/DataDisplayDemo.tsx
  apps/Client.Web/src/containers/ComponentsDemo/FeedbacksDemo/FeedbacksDemo.test.tsx
  apps/Client.Web/src/containers/ComponentsDemo/FeedbacksDemo/FeedbacksDemo.tsx
  apps/Client.Web/src/containers/ComponentsDemo/InputsDemo/InputsDemo.test.tsx
  apps/Client.Web/src/containers/ComponentsDemo/InputsDemo/InputsDemo.tsx
  apps/Client.Web/src/containers/MainContainer/MainContainer.tsx
  apps/Client.Web/src/containers/core/Router/Router.tsx
  apps/Client.Web/src/services/.gitkeep
  apps/Client.Web/src/services/bookService.ts
  apps/Client.Web/src/types/.gitkeep
  apps/Client.Web/src/types/book.ts
  apps/Server.API/src/controllers/.gitkeep
  apps/Server.API/src/controllers/bookController.test.ts
  apps/Server.API/src/controllers/bookController.ts
  apps/Server.API/src/index.ts
  apps/Server.API/src/middleware/errorHandler.ts
  apps/Server.API/src/models/.gitkeep
  apps/Server.API/src/models/Book.ts
  apps/Server.API/src/routes/.gitkeep
  apps/Server.API/src/routes/bookRoutes.ts
  apps/Server.API/src/types/.gitkeep
  apps/Server.API/src/types/book.schemas.ts
  packages/shared-types/src/book.ts
  packages/shared-types/src/errors.ts
  packages/shared-types/src/index.ts
Due: eslint --fix, prettier --write

Add step to build shared types in CI workflow
  .github/workflows/test-and-coverage.yml
Due: prettier --write

Add Sign Up Page and User Profile Management (#42)
  .github/workflows/test-and-coverage.yml
  apps/Client.Web/src/components/login/LoginForm/LoginForm.model.ts
  apps/Client.Web/src/components/login/LoginForm/LoginForm.test.tsx
  apps/Client.Web/src/components/login/LoginForm/LoginForm.tsx
  apps/Client.Web/src/containers/Login/Login.test.tsx
  apps/Client.Web/src/containers/Login/Login.tsx
  apps/Client.Web/src/containers/MainContainer/MainContainer.tsx
  apps/Client.Web/src/containers/Profile/Profile.model.ts
  apps/Client.Web/src/containers/Profile/Profile.tsx
  apps/Client.Web/src/containers/Profile/ProfileEditForm.tsx
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetup.model.ts
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetup.tsx
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetupForm.tsx
  apps/Client.Web/src/containers/core/App/App.tsx
  apps/Client.Web/src/containers/core/Router/Router.test.tsx
  apps/Client.Web/src/containers/core/Router/Router.tsx
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.model.ts
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.tsx
  apps/Client.Web/src/providers/UserProvider/UserProvider.tsx
  apps/Client.Web/src/services/.gitkeep
  apps/Client.Web/src/services/userService.ts
  apps/Server.API/src/config/index.ts
  apps/Server.API/src/controllers/.gitkeep
  apps/Server.API/src/controllers/user.controller.ts
  apps/Server.API/src/index.ts
  apps/Server.API/src/middleware/auth.ts
  apps/Server.API/src/models/user.model.ts
  apps/Server.API/src/models/user.validation.ts
  apps/Server.API/src/routes/.gitkeep
  apps/Server.API/src/routes/user.routes.ts
  environments/.env.example
  packages/shared-types/src/errors.ts
  packages/shared-types/src/index.ts
  packages/shared-types/src/user.ts
Due: eslint --fix, prettier --write

Improve test coverage to meet 85% threshold (#44)
  apps/Client.Web/src/components/commons/navigation/Sidebar/Sidebar.test.tsx
  apps/Client.Web/src/containers/Login/Login.test.tsx
  apps/Client.Web/src/containers/Profile/Profile.test.tsx
  apps/Client.Web/src/containers/Profile/ProfileEditForm.test.tsx
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetup.test.tsx
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetupForm.test.tsx
  apps/Client.Web/src/providers/UserProvider/UserProvider.test.tsx
  apps/Client.Web/src/services/userService.test.ts
Due: eslint --fix, prettier --write

Add GitHub Action to build and push Docker images to GHCR (#46)
  .github/workflows/docker-build-push.yml
  deployment/README.md
  docs/DOCKER_DEPLOYMENT.md
Due: prettier --write

ci: added backend steps
  .github/workflows/build.yml
  .github/workflows/docker-build-push.yml
  .github/workflows/lint.yml
  .github/workflows/test-and-coverage.yml
  .github/workflows/typecheck.yml
  package.json
Due: prettier --write

ci: fix
  .github/workflows/test-and-coverage.yml
Due: prettier --write

Add test infrastructure and coverage for backend methods (#48)
  apps/Server.API/src/controllers/__tests__/user.controller.test.ts
  apps/Server.API/src/middleware/__tests__/auth.test.ts
  apps/Server.API/src/middleware/__tests__/errorHandler.test.ts
  apps/Server.API/src/middleware/__tests__/validate.test.ts
  apps/Server.API/src/models/__tests__/user.validation.test.ts
  apps/Server.API/vitest.config.ts
  apps/Server.API/vitest.setup.ts
Due: eslint --fix, prettier --write

fix: api fetching
  API.md
  apps/Client.Web/src/containers/Profile/Profile.test.tsx
  apps/Client.Web/src/containers/Profile/Profile.tsx
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetup.test.tsx
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetup.tsx
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.spec.tsx
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.tsx
  apps/Client.Web/src/providers/UserProvider/UserProvider.test.tsx
  apps/Client.Web/src/providers/UserProvider/UserProvider.tsx
  apps/Client.Web/src/services/userService.ts
  examples/04-data-fetching.md
Due: eslint --fix, prettier --write

feat: load user data for the sidebar
  apps/Client.Web/src/components/commons/navigation/Sidebar/Sidebar.tsx
  apps/Client.Web/src/containers/BaseContainer/BaseContainer.test.tsx
  apps/Client.Web/src/containers/BaseContainer/BaseContainer.tsx
  apps/Client.Web/src/hooks/useCurrentUser/index.ts
  apps/Client.Web/src/hooks/useCurrentUser/useCurrentUser.test.tsx
  apps/Client.Web/src/hooks/useCurrentUser/useCurrentUser.ts
  apps/Client.Web/src/providers/UserProvider/UserProvider.test.tsx
Due: eslint --fix, prettier --write

refactor: profile page
  apps/Client.Web/src/containers/Profile/Profile.test.tsx
  apps/Client.Web/src/containers/Profile/Profile.tsx
Due: eslint --fix, prettier --write

chore: use correct social network icons
  apps/Client.Web/src/containers/Profile/Profile.tsx
Due: eslint --fix, prettier --write

feat: add privacy selector
  apps/Client.Web/src/containers/Profile/Profile.model.ts
  apps/Client.Web/src/containers/Profile/ProfileEditForm.test.tsx
  apps/Client.Web/src/containers/Profile/ProfileEditForm.tsx
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetupForm.tsx
  apps/Client.Web/src/hooks/useCurrentUser/useCurrentUser.test.tsx
  apps/Server.API/src/models/user.model.ts
  packages/shared-types/src/user.ts
Due: eslint --fix, prettier --write

fix: failing test cases
  apps/Client.Web/src/components/commons/navigation/Sidebar/Sidebar.test.tsx
  apps/Client.Web/src/containers/BaseContainer/BaseContainer.test.tsx
  apps/Client.Web/src/containers/Profile/Profile.test.tsx
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetup.tsx
  apps/Client.Web/src/hooks/useCurrentUser/useCurrentUser.ts
  apps/Client.Web/src/providers/UserProvider/UserProvider.test.tsx
  apps/Client.Web/src/services/userService.test.ts
  apps/Client.Web/src/test-utils.tsx
Due: eslint --fix, prettier --write

feat: attributions
  apps/Client.Web/src/components/commons/navigation/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

feat: styling
  apps/Client.Web/src/components/commons/navigation/Sidebar/Sidebar.tsx
  apps/Client.Web/src/containers/BaseContainer/BaseContainer.tsx
Due: eslint --fix, prettier --write

chore: clean translations
  apps/Client.Web/src/locales/en/messages.po
  apps/Client.Web/src/locales/en/messages.ts
  apps/Client.Web/src/locales/it/messages.po
  apps/Client.Web/src/locales/it/messages.ts
Due: eslint --fix, prettier --write

fix: build and test errors
  apps/Client.Web/src/components/commons/navigation/Sidebar/Sidebar.test.tsx
  apps/Server.API/src/controllers/user.controller.ts
Due: eslint --fix, prettier --write

fix: Add translation support for Profile section using @lingui (#50)
  .github/copilot-instructions.md
  apps/Client.Web/src/components/commons/navigation/Sidebar/Sidebar.test.tsx
  apps/Client.Web/src/containers/Profile/Profile.tsx
  apps/Client.Web/src/containers/Profile/ProfileEditForm.tsx
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetupForm.tsx
  apps/Client.Web/src/helpers/sportTypes/index.ts
  apps/Client.Web/src/helpers/sportTypes/sportTypeLabels.ts
  apps/Client.Web/src/locales/en/messages.po
  apps/Client.Web/src/locales/en/messages.ts
  apps/Client.Web/src/locales/it/messages.po
  apps/Client.Web/src/locales/it/messages.ts
  apps/Server.API/src/controllers/user.controller.ts
Due: eslint --fix, prettier --write

feat: profile setup wizard
  apps/Client.Web/src/components/commons/inputs/PrivacySelector/PrivacySelector.test.tsx
  apps/Client.Web/src/components/commons/inputs/PrivacySelector/PrivacySelector.tsx
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetup.model.ts
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetup.test.tsx
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetup.tsx
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetupForm.test.tsx
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetupForm.tsx
  apps/Client.Web/src/locales/en/messages.po
  apps/Client.Web/src/locales/en/messages.ts
  apps/Client.Web/src/locales/it/messages.po
  apps/Client.Web/src/locales/it/messages.ts
  apps/Server.API/src/models/user.validation.ts
Due: eslint --fix, prettier --write

Add language selector to profile setup wizard (#57)
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetupForm.tsx
  apps/Client.Web/src/locales/en/messages.po
  apps/Client.Web/src/locales/it/messages.po
Due: eslint --fix, prettier --write

fix: Make nickname unique case-insensitively with real-time validation and fix form issues (#55)
  apps/Client.Web/src/containers/Profile/Profile.tsx
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetup.model.ts
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetup.tsx
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetupForm.test.tsx
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetupForm.tsx
  apps/Client.Web/src/locales/en/messages.po
  apps/Client.Web/src/locales/en/messages.ts
  apps/Client.Web/src/locales/it/messages.po
  apps/Client.Web/src/locales/it/messages.ts
  apps/Server.API/src/controllers/__tests__/user.controller.test.ts
  apps/Server.API/src/models/__tests__/user.validation.test.ts
  apps/Server.API/src/models/user.model.ts
  apps/Server.API/src/models/user.validation.ts
Due: eslint --fix, prettier --write
