Repository MattiaPette/BAAA-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: remove console logs
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.tsx
Due: eslint --fix, prettier --write

hotfix: redos attack fix
  apps/Server.API/src/controllers/auth.controller.ts
Due: eslint --fix, prettier --write

fix: testing and coverage
  apps/Client.Web/src/components/login/LoginForm/LoginForm.test.tsx
  apps/Client.Web/src/containers/Administration/Administration.test.tsx
  apps/Client.Web/src/containers/Login/Login.test.tsx
  apps/Client.Web/src/containers/LoginCallback/LoginCallback.test.tsx
  apps/Client.Web/src/containers/Logout/Logout.tsx
  apps/Client.Web/src/hooks/useCurrentUser/useCurrentUser.test.tsx
Due: eslint --fix, prettier --write

Improve test coverage for client.web components (#114)
  apps/Client.Web/src/components/login/SignupForm/SignupForm.test.tsx
  apps/Client.Web/src/containers/Administration/Administration.test.tsx
  apps/Client.Web/src/containers/Profile/Profile.test.tsx
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetup.test.tsx
  apps/Client.Web/src/containers/Signup/Signup.test.tsx
Due: eslint --fix, prettier --write

chore: change coverage thresholds
  apps/Client.Web/vitest.config.ts
Due: eslint --fix, prettier --write

fix: build
  apps/Client.Web/src/components/login/SignupForm/SignupForm.test.tsx
  apps/Client.Web/src/containers/Signup/Signup.test.tsx
Due: eslint --fix, prettier --write

Update deployment procedure for new Keycloak integration (#116)
  .github/workflows/docker-build-push.yml
  API.md
  ai-config.json
  apps/Client.Web/README.md
  deployment/Dockerfile.frontend
  docs/MISSING_TESTS.md
  docs/README.md
  examples/01-basic-initialization.md
  examples/README.md
Due: prettier --write

[WIP] Add health monitor to Keycloak container (#117)
  docker-compose.yml
Due: prettier --write

Fix Keycloak health checks to use management port 9000 (#118)
  deployment/docker-compose.yml
  docker-compose.yml
Due: prettier --write

fix: sso iframe
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.tsx
Due: eslint --fix, prettier --write

Merge branch 'develop'
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.tsx
  deployment/docker-compose.yml
Due: eslint --fix, prettier --write

Develop -> Master 0.4.1 (#119)
  API.md
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.tsx
  deployment/docker-compose.yml
  docker-compose.yml
  docs/MISSING_TESTS.md
  docs/README.md
Due: eslint --fix, prettier --write

debug: trying to debug silent auth problems
  apps/Client.Web/public/silent-check-sso.html
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.tsx
Due: eslint --fix, prettier --write

Develop -> Master - Relase 0.4.2 debugging auth related issues. (#120)
  apps/Client.Web/public/silent-check-sso.html
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.tsx
Due: eslint --fix, prettier --write

debug: deload cache
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.tsx
  apps/Client.Web/vite.config.ts
Due: eslint --fix, prettier --write

0.4.2 (#121)
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.tsx
  apps/Client.Web/vite.config.ts
Due: eslint --fix, prettier --write

debug: try to exclude service workers stuff
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.tsx
  apps/Client.Web/vite.config.ts
Due: eslint --fix, prettier --write

Develop (#122)
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.tsx
  apps/Client.Web/vite.config.ts
Due: eslint --fix, prettier --write

feat: Implement dialog-based login/signup with UI improvements (#125)
  apps/Client.Web/src/components/commons/navigation/Sidebar/Sidebar.tsx
  apps/Client.Web/src/components/commons/navigation/UserProfilePopup/UserProfilePopup.model.ts
  apps/Client.Web/src/components/commons/navigation/UserProfilePopup/UserProfilePopup.tsx
  apps/Client.Web/src/components/login/LoginDialog/LoginDialog.model.ts
  apps/Client.Web/src/components/login/LoginDialog/LoginDialog.tsx
  apps/Client.Web/src/components/login/SignupDialog/SignupDialog.model.ts
  apps/Client.Web/src/components/login/SignupDialog/SignupDialog.tsx
  apps/Client.Web/src/containers/BaseContainer/BaseContainer.tsx
  apps/Client.Web/src/containers/LoginCallback/LoginCallback.test.tsx
  apps/Client.Web/src/containers/LoginCallback/LoginCallback.tsx
  apps/Client.Web/src/containers/Logout/Logout.test.tsx
  apps/Client.Web/src/containers/Logout/Logout.tsx
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetup.test.tsx
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetup.tsx
  apps/Client.Web/src/containers/PublicContainer/PublicContainer.test.tsx
  apps/Client.Web/src/containers/PublicContainer/PublicContainer.tsx
  apps/Client.Web/src/containers/Settings/Settings.test.tsx
  apps/Client.Web/src/containers/Settings/Settings.tsx
  apps/Client.Web/src/containers/core/Router/Router.test.tsx
  apps/Client.Web/src/containers/core/Router/Router.tsx
  apps/Client.Web/src/locales/en/messages.po
  apps/Client.Web/src/locales/en/messages.ts
  apps/Client.Web/src/locales/it/messages.po
  apps/Client.Web/src/locales/it/messages.ts
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.model.ts
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.tsx
Due: eslint --fix, prettier --write

feat: Implement dialog-based login/signup with UI improvements (#125) (#126)
  apps/Client.Web/src/components/commons/navigation/Sidebar/Sidebar.tsx
  apps/Client.Web/src/components/commons/navigation/UserProfilePopup/UserProfilePopup.model.ts
  apps/Client.Web/src/components/commons/navigation/UserProfilePopup/UserProfilePopup.tsx
  apps/Client.Web/src/components/login/LoginDialog/LoginDialog.model.ts
  apps/Client.Web/src/components/login/LoginDialog/LoginDialog.tsx
  apps/Client.Web/src/components/login/SignupDialog/SignupDialog.model.ts
  apps/Client.Web/src/components/login/SignupDialog/SignupDialog.tsx
  apps/Client.Web/src/containers/BaseContainer/BaseContainer.tsx
  apps/Client.Web/src/containers/LoginCallback/LoginCallback.test.tsx
  apps/Client.Web/src/containers/LoginCallback/LoginCallback.tsx
  apps/Client.Web/src/containers/Logout/Logout.test.tsx
  apps/Client.Web/src/containers/Logout/Logout.tsx
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetup.test.tsx
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetup.tsx
  apps/Client.Web/src/containers/PublicContainer/PublicContainer.test.tsx
  apps/Client.Web/src/containers/PublicContainer/PublicContainer.tsx
  apps/Client.Web/src/containers/Settings/Settings.test.tsx
  apps/Client.Web/src/containers/Settings/Settings.tsx
  apps/Client.Web/src/containers/core/Router/Router.test.tsx
  apps/Client.Web/src/containers/core/Router/Router.tsx
  apps/Client.Web/src/locales/en/messages.po
  apps/Client.Web/src/locales/en/messages.ts
  apps/Client.Web/src/locales/it/messages.po
  apps/Client.Web/src/locales/it/messages.ts
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.model.ts
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.tsx
Due: eslint --fix, prettier --write

hotfix/health-endpoint
  deployment/docker-compose.yml
Due: prettier --write

hotfix/health-endpoint (#127)
  deployment/docker-compose.yml
Due: prettier --write

Develop (#129)
  deployment/docker-compose.yml
Due: prettier --write

chore: restore old fixed
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.tsx
  apps/Client.Web/vite.config.ts
  deployment/nginx-proxy.conf
Due: eslint --fix, prettier --write

Develop (#130)
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.tsx
  apps/Client.Web/vite.config.ts
  deployment/nginx-proxy.conf
Due: eslint --fix, prettier --write

fix: nginx config encoding
  deployment/nginx-proxy.conf
Due: none

fix: nginx config encoding (#133)
  deployment/nginx-proxy.conf
Due: none

Fix backend production container to use Keycloak environment variables (#132)
  deployment/.env.example
  deployment/Dockerfile.backend
  deployment/docker-compose.yml
Due: prettier --write

Fix 401 unauthorized: Use accessToken instead of idToken for API calls (#135)
  apps/Client.Web/src/containers/Administration/Administration.test.tsx
  apps/Client.Web/src/containers/Administration/Administration.tsx
  apps/Client.Web/src/containers/Profile/Profile.test.tsx
  apps/Client.Web/src/containers/Profile/Profile.tsx
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetup.test.tsx
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetup.tsx
  apps/Client.Web/src/hooks/useCurrentUser/useCurrentUser.test.tsx
  apps/Client.Web/src/hooks/useCurrentUser/useCurrentUser.ts
  apps/Client.Web/src/providers/UserProvider/UserProvider.test.tsx
  apps/Client.Web/src/providers/UserProvider/UserProvider.tsx
  apps/Client.Web/src/services/adminService.ts
  apps/Client.Web/src/services/userService.ts
Due: eslint --fix, prettier --write

Fix token validation failing when KEYCLOAK_URL has trailing slash (#137)
  apps/Server.API/src/controllers/auth.controller.ts
  apps/Server.API/src/middleware/__tests__/auth.test.ts
  apps/Server.API/src/middleware/__tests__/auth.trailing-slash.test.ts
  apps/Server.API/src/middleware/auth.ts
  apps/Server.API/src/utils/__tests__/url.test.ts
  apps/Server.API/src/utils/url.ts
Due: eslint --fix, prettier --write

Fix nginx proxy not forwarding Authorization header to backend API (#138)
  deployment/nginx-proxy.conf
Due: none

Update Copilot instructions and config files to reflect pnpm migration (#140)
  .github/copilot-instructions.md
  .github/pull_request_template.md
  CONTRIBUTING.md
  ai-config.json
  apps/Client.Web/src/locales/en/messages.po
  apps/Client.Web/src/locales/it/messages.po
Due: prettier --write

feat: crude logging
  apps/Server.API/src/index.ts
  apps/Server.API/src/middleware/auth.ts
  apps/Server.API/src/middleware/logger.ts
  apps/Server.API/src/utils/logger.ts
Due: eslint --fix, prettier --write

feat: crude logging (#141)
  apps/Server.API/src/index.ts
  apps/Server.API/src/middleware/auth.ts
  apps/Server.API/src/middleware/logger.ts
  apps/Server.API/src/utils/logger.ts
Due: eslint --fix, prettier --write

chore: add debug logging for auth token
  apps/Server.API/src/middleware/auth.ts
Due: eslint --fix, prettier --write

Fix/backend auth (#142)
  apps/Server.API/src/middleware/auth.ts
Due: eslint --fix, prettier --write

fix: added separate issuer
  apps/Server.API/src/config/index.ts
  apps/Server.API/src/middleware/auth.ts
  deployment/.env.example
  environments/.env.example
Due: eslint --fix, prettier --write

Fix/backend auth (#143)
  apps/Server.API/src/config/index.ts
  apps/Server.API/src/middleware/auth.ts
  deployment/.env.example
  environments/.env.example
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,scss,md,yaml,yml})
