Repository MattiaPette/BAAA-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: privacy settings write
  apps/Server.API/src/controllers/.gitkeep
  apps/Server.API/src/controllers/user.controller.ts
  apps/Server.API/src/models/.gitkeep
  apps/Server.API/src/routes/.gitkeep
Due: eslint --fix, prettier --write

fix: Update GitHub Actions versions and add Codecov badge (#59)
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test-and-coverage.yml
  .github/workflows/typecheck.yml
  README.md
Due: prettier --write

Fix sidebar labels not updating when language changes (#61)
  apps/Client.Web/src/containers/MainContainer/MainContainer.tsx
Due: eslint --fix, prettier --write

Fix topbar title not updating when language changes (#62)
  apps/Client.Web/src/containers/Dashboard/Dashboard.test.tsx
  apps/Client.Web/src/containers/Dashboard/Dashboard.tsx
  apps/Client.Web/src/containers/Profile/Profile.tsx
  apps/Client.Web/src/containers/Settings/Settings.test.tsx
  apps/Client.Web/src/containers/Settings/Settings.tsx
Due: eslint --fix, prettier --write

fix: callback endpoint
  deployment/.env.example
Due: none

Integrate secure banner/profile picture storage using MinIO (#63)
  API.md
  apps/Client.Web/src/containers/BaseContainer/BaseContainer.tsx
  apps/Client.Web/src/containers/Profile/Profile.tsx
  apps/Client.Web/src/services/userService.ts
  apps/Server.API/package.json
  apps/Server.API/src/config/index.ts
  apps/Server.API/src/controllers/image.controller.ts
  apps/Server.API/src/controllers/user.controller.ts
  apps/Server.API/src/index.ts
  apps/Server.API/src/models/user.model.ts
  apps/Server.API/src/routes/image.routes.ts
  apps/Server.API/src/services/__tests__/storage.service.test.ts
  apps/Server.API/src/services/storage.service.ts
  deployment/.env.example
  deployment/README.md
  deployment/docker-compose.yml
  docker-compose.yml
  docs/DOCKER_DEPLOYMENT.md
  environments/.env.example
  packages/shared-types/src/errors.ts
  packages/shared-types/src/user.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Implement thumbnail generation for profile/banner images (#65)
  API.md
  apps/Client.Web/src/services/userService.ts
  apps/Server.API/package.json
  apps/Server.API/src/controllers/image.controller.ts
  apps/Server.API/src/models/user.model.ts
  apps/Server.API/src/services/__tests__/storage.service.test.ts
  apps/Server.API/src/services/storage.service.ts
  packages/shared-types/src/user.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Feature: Profile and Banner Image Component UX Improvements (#66)
  apps/Client.Web/package.json
  apps/Client.Web/src/components/commons/inputs/ImageUpload/ImageCropDialog.tsx
  apps/Client.Web/src/components/commons/inputs/ImageUpload/ImageUpload.model.ts
  apps/Client.Web/src/components/commons/inputs/ImageUpload/ImageUpload.test.tsx
  apps/Client.Web/src/components/commons/inputs/ImageUpload/ImageUpload.tsx
  apps/Client.Web/src/components/commons/inputs/ImageUpload/ImageUpload.utils.ts
  apps/Client.Web/src/components/commons/inputs/ImageUpload/index.ts
  apps/Client.Web/src/containers/Profile/Profile.tsx
  apps/Client.Web/src/containers/Profile/ProfileEditForm.tsx
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetup.model.ts
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetup.test.tsx
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetup.tsx
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetupForm.test.tsx
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetupForm.tsx
  apps/Client.Web/src/locales/en/messages.po
  apps/Client.Web/src/locales/en/messages.ts
  apps/Client.Web/src/locales/it/messages.po
  apps/Client.Web/src/locales/it/messages.ts
  apps/Client.Web/src/services/userService.ts
  apps/Server.API/src/models/user.model.ts
  apps/Server.API/src/models/user.validation.ts
  packages/shared-types/src/user.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Fix Mongoose duplicate schema index warnings (#71)
  apps/Server.API/src/models/user.model.ts
Due: eslint --fix, prettier --write

Enlarge banner and profile pictures for profiles (#74)
  apps/Client.Web/src/components/commons/inputs/ImageUpload/ImageUpload.tsx
  apps/Client.Web/src/components/commons/inputs/ImageUpload/ImageUpload.utils.ts
  apps/Client.Web/src/containers/Profile/Profile.tsx
Due: eslint --fix, prettier --write

Fix dates in profile to use app locale instead of PC settings (#72)
  apps/Client.Web/src/containers/Profile/Profile.tsx
Due: eslint --fix, prettier --write

Fix cache invalidation after image upload (#76)
  apps/Client.Web/src/components/commons/inputs/ImageUpload/ImageUpload.test.tsx
  apps/Client.Web/src/components/commons/inputs/ImageUpload/ImageUpload.tsx
Due: eslint --fix, prettier --write

Remove banner image thumbnails and only keep the original image (#70)
  apps/Client.Web/src/services/userService.ts
  apps/Server.API/src/controllers/image.controller.ts
  apps/Server.API/src/controllers/user.controller.ts
  apps/Server.API/src/models/user.model.ts
  packages/shared-types/src/user.ts
Due: eslint --fix, prettier --write

Enlarge banner and profile pictures for profiles (#77)
  apps/Client.Web/src/components/commons/inputs/ImageUpload/ImageUpload.model.ts
  apps/Client.Web/src/components/commons/inputs/ImageUpload/ImageUpload.tsx
  apps/Client.Web/src/components/commons/inputs/ImageUpload/ImageViewDialog.test.tsx
  apps/Client.Web/src/components/commons/inputs/ImageUpload/ImageViewDialog.tsx
  apps/Client.Web/src/components/commons/inputs/ImageUpload/index.ts
  apps/Client.Web/src/containers/Profile/Profile.tsx
  apps/Client.Web/src/locales/en/messages.po
  apps/Client.Web/src/locales/en/messages.ts
  apps/Client.Web/src/locales/it/messages.po
  apps/Client.Web/src/locales/it/messages.ts
Due: eslint --fix, prettier --write

Extend Role Model to Include Additional Roles and Admin Permissions (#80)
  apps/Client.Web/src/containers/BaseContainer/BaseContainer.test.tsx
  apps/Client.Web/src/hooks/useCurrentUser/useCurrentUser.test.tsx
  apps/Server.API/src/controllers/__tests__/user.controller.test.ts
  apps/Server.API/src/controllers/user.controller.ts
  apps/Server.API/src/models/user.model.ts
  apps/Server.API/src/utils/__tests__/roles.test.ts
  packages/shared-types/src/user.ts
Due: eslint --fix, prettier --write

Create Protected Administrator Page with User Management Table (#82)
  apps/Client.Web/src/containers/Administration/Administration.test.tsx
  apps/Client.Web/src/containers/Administration/Administration.tsx
  apps/Client.Web/src/containers/Administration/EditRolesDialog.tsx
  apps/Client.Web/src/containers/BaseContainer/BaseContainer.tsx
  apps/Client.Web/src/containers/MainContainer/MainContainer.test.tsx
  apps/Client.Web/src/containers/MainContainer/MainContainer.tsx
  apps/Client.Web/src/containers/Profile/Profile.tsx
  apps/Client.Web/src/containers/core/Router/Router.tsx
  apps/Client.Web/src/helpers/roleLabels/index.ts
  apps/Client.Web/src/helpers/roleLabels/roleLabels.ts
  apps/Client.Web/src/locales/en/messages.po
  apps/Client.Web/src/locales/en/messages.ts
  apps/Client.Web/src/locales/it/messages.po
  apps/Client.Web/src/locales/it/messages.ts
  apps/Client.Web/src/services/adminService.ts
  apps/Server.API/src/controllers/admin.controller.ts
  apps/Server.API/src/index.ts
  apps/Server.API/src/middleware/__tests__/admin.test.ts
  apps/Server.API/src/middleware/admin.ts
  apps/Server.API/src/models/admin.validation.ts
  apps/Server.API/src/routes/admin.routes.ts
  packages/shared-types/src/user.ts
Due: eslint --fix, prettier --write

chore: package stuff
  package.json
Due: prettier --write

Implement Super Admin Role & Hierarchy in User Permissions Model (#83)
  apps/Client.Web/src/components/commons/navigation/Sidebar/Sidebar.model.ts
  apps/Client.Web/src/components/commons/navigation/Sidebar/Sidebar.test.tsx
  apps/Client.Web/src/components/commons/navigation/Sidebar/Sidebar.tsx
  apps/Client.Web/src/containers/Administration/Administration.tsx
  apps/Client.Web/src/containers/Administration/EditRolesDialog.tsx
  apps/Client.Web/src/containers/Profile/Profile.tsx
  apps/Client.Web/src/helpers/roleLabels/roleLabels.ts
  apps/Client.Web/src/locales/en/messages.po
  apps/Client.Web/src/locales/en/messages.ts
  apps/Client.Web/src/locales/it/messages.po
  apps/Client.Web/src/locales/it/messages.ts
  apps/Server.API/src/controllers/admin.controller.ts
  apps/Server.API/src/middleware/__tests__/admin.test.ts
  apps/Server.API/src/middleware/admin.ts
  apps/Server.API/src/utils/__tests__/roles.test.ts
  examples/02-authentication.md
  packages/shared-types/src/user.ts
Due: eslint --fix, prettier --write

Backend MFA & Email Verification Tracking via Auth0 Post-Login Action & Deploy CLI (IaC) (#86)
  API.md
  apps/Client.Web/src/containers/Administration/Administration.test.tsx
  apps/Client.Web/src/containers/BaseContainer/BaseContainer.test.tsx
  apps/Client.Web/src/containers/Profile/Profile.test.tsx
  apps/Client.Web/src/containers/Profile/ProfileEditForm.test.tsx
  apps/Client.Web/src/hooks/useCurrentUser/useCurrentUser.test.tsx
  apps/Client.Web/src/providers/UserProvider/UserProvider.test.tsx
  apps/Server.API/src/config/index.ts
  apps/Server.API/src/controllers/__tests__/webhook.controller.test.ts
  apps/Server.API/src/controllers/admin.controller.ts
  apps/Server.API/src/controllers/user.controller.ts
  apps/Server.API/src/controllers/webhook.controller.ts
  apps/Server.API/src/index.ts
  apps/Server.API/src/middleware/__tests__/webhook.test.ts
  apps/Server.API/src/middleware/webhook.ts
  apps/Server.API/src/models/user.model.ts
  apps/Server.API/src/models/webhook.validation.ts
  apps/Server.API/src/routes/webhook.routes.ts
  auth0/README.md
  auth0/actions/sync-user-to-db.js
  auth0/tenant.yaml
  docs/SECURITY.md
  environments/.env.example
  eslint.config.base.js
  eslint.config.js
  packages/shared-types/src/user.ts
Due: eslint --fix, prettier --write

Feature: Optional 2FA (TOTP & Email) + Backend Tracking & Admin Visibility (#87)
  apps/Client.Web/src/containers/Administration/Administration.tsx
  apps/Client.Web/src/containers/Settings/Settings.test.tsx
  apps/Client.Web/src/containers/Settings/Settings.tsx
  apps/Client.Web/src/helpers/mfaLabels/index.ts
  apps/Client.Web/src/helpers/mfaLabels/mfaLabels.ts
  apps/Client.Web/src/locales/en/messages.po
  apps/Client.Web/src/locales/en/messages.ts
  apps/Client.Web/src/locales/it/messages.po
  apps/Client.Web/src/locales/it/messages.ts
  apps/Client.Web/src/services/adminService.ts
  apps/Server.API/src/controllers/admin.controller.ts
Due: eslint --fix, prettier --write

feat: windows implementation for auth0 ci
  .gitignore
  auth0/README.md
  auth0/actions/Sync User to Database/code.js
  auth0/tenant.yaml
  environments/.env.auth0.example
  environments/README.md
  package.json
  scripts/auth0-deploy.ps1
Due: eslint --fix, prettier --write

Fix Swagger UI endpoint to display all API documentation (#88)
  apps/Server.API/src/config/openapi.ts
  apps/Server.API/src/index.ts
Due: eslint --fix, prettier --write

chore: update lockfile
  pnpm-lock.yaml
Due: prettier --write

chore: update lockfile (#90)
  pnpm-lock.yaml
Due: prettier --write

hotfix: server types and checks
  apps/Server.API/src/controllers/admin.controller.ts
  apps/Server.API/src/middleware/__tests__/admin.test.ts
  apps/Server.API/src/middleware/admin.ts
Due: eslint --fix, prettier --write

hotfix: server types and checks (#91)
  apps/Server.API/src/controllers/admin.controller.ts
  apps/Server.API/src/middleware/__tests__/admin.test.ts
  apps/Server.API/src/middleware/admin.ts
Due: eslint --fix, prettier --write

Refactor: GHCR-based container deployment & consolidated documentation (#93)
  API.md
  README.md
  deployment/.env.example
  deployment/CHANGELOG.md
  deployment/Dockerfile.backend
  deployment/NPM_SETUP_GUIDE.md
  deployment/QUICKSTART.md
  deployment/README.md
  deployment/VALIDATION.md
  deployment/deploy.sh
  deployment/docker-compose.yml
  docs/DOCKER_DEPLOYMENT.md
  docs/README.md
  environments/.env.auth0.example
  environments/.env.example
  environments/README.md
  examples/01-basic-initialization.md
  scripts/auth0-deploy.ps1
Due: prettier --write

fix: webhook validation error for null type
  apps/Server.API/src/controllers/__tests__/webhook.controller.test.ts
  apps/Server.API/src/controllers/webhook.controller.ts
  apps/Server.API/src/models/webhook.validation.ts
Due: eslint --fix, prettier --write

Release 0.3 Major bug fixes (#94)
  apps/Client.Web/src/containers/LoginCallback/LoginCallback.tsx
  apps/Server.API/src/controllers/__tests__/webhook.controller.test.ts
  apps/Server.API/src/controllers/webhook.controller.ts
  apps/Server.API/src/models/webhook.validation.ts
  scripts/auth0-deploy.ps1
Due: eslint --fix, prettier --write

Refactor: Replace Auth0 with Keycloak (Full Migration to Open Source Auth) (#96)
  README.md
  apps/Client.Web/package.json
  apps/Client.Web/public/silent-check-sso.html
  apps/Client.Web/src/containers/Administration/Administration.test.tsx
  apps/Client.Web/src/containers/LoginCallback/LoginCallback.test.tsx
  apps/Client.Web/src/containers/LoginCallback/LoginCallback.tsx
  apps/Client.Web/src/containers/core/App/App.model.ts
  apps/Client.Web/src/containers/core/App/App.test.tsx
  apps/Client.Web/src/hooks/useCurrentUser/useCurrentUser.test.tsx
  apps/Client.Web/src/index.tsx
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.model.ts
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.spec.tsx
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.tsx
  apps/Client.Web/src/test-utils.tsx
  apps/Server.API/src/config/index.ts
  apps/Server.API/src/controllers/__tests__/webhook.controller.test.ts
  apps/Server.API/src/controllers/webhook.controller.ts
  apps/Server.API/src/middleware/__tests__/auth.test.ts
  apps/Server.API/src/middleware/__tests__/webhook.test.ts
  apps/Server.API/src/middleware/auth.ts
  apps/Server.API/src/middleware/webhook.ts
  apps/Server.API/src/models/webhook.validation.ts
  apps/Server.API/src/routes/webhook.routes.ts
  auth0/README.md
  auth0/actions/Sync User to Database/code.js
  auth0/actions/sync-user-to-db.js
  auth0/tenant.yaml
  deployment/.env.example
  deployment/docker-compose.yml
  deployment/nginx-proxy.conf
  docs/SECURITY.md
  environments/.env.auth0.example
  environments/.env.example
  examples/02-authentication.md
  package.json
  packages/shared-types/src/user.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add Keycloak to local development docker-compose (#98)
  README.md
  docker-compose.yml
  environments/.env.example
Due: prettier --write

Remove deprecated redirect-based login in favor of standard login form (#100)
  apps/Client.Web/src/components/login/LoginForm/LoginForm.model.ts
  apps/Client.Web/src/components/login/LoginForm/LoginForm.test.tsx
  apps/Client.Web/src/components/login/LoginForm/LoginForm.tsx
  apps/Client.Web/src/containers/Administration/Administration.test.tsx
  apps/Client.Web/src/containers/Login/Login.test.tsx
  apps/Client.Web/src/containers/Login/Login.tsx
  apps/Client.Web/src/containers/LoginCallback/LoginCallback.test.tsx
  apps/Client.Web/src/hooks/useCurrentUser/useCurrentUser.test.tsx
  apps/Client.Web/src/locales/en/messages.po
  apps/Client.Web/src/locales/it/messages.po
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.model.ts
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.tsx
Due: eslint --fix, prettier --write

Public-first application with Keycloak-powered themed login/signup (#104)
  apps/Client.Web/src/containers/PublicContainer/PublicContainer.test.tsx
  apps/Client.Web/src/containers/PublicContainer/PublicContainer.tsx
  apps/Client.Web/src/containers/core/Router/Router.test.tsx
  apps/Client.Web/src/containers/core/Router/Router.tsx
  apps/Client.Web/src/locales/en/messages.po
  apps/Client.Web/src/locales/en/messages.ts
  apps/Client.Web/src/locales/it/messages.po
  apps/Client.Web/src/locales/it/messages.ts
  deployment/docker-compose.yml
  docker-compose.yml
  examples/02-authentication.md
  keycloak-theme/README.md
  keycloak-theme/baaa-hub/account/resources/css/account.css
  keycloak-theme/baaa-hub/account/theme.properties
  keycloak-theme/baaa-hub/login/messages/messages_en.properties
  keycloak-theme/baaa-hub/login/messages/messages_it.properties
  keycloak-theme/baaa-hub/login/resources/css/login.css
  keycloak-theme/baaa-hub/login/resources/img/logo.png
  keycloak-theme/baaa-hub/login/theme.properties
Due: eslint --fix, prettier --write

chore: remove unused components
  docker-compose.yml
  keycloak-theme/README.md
  keycloak-theme/baaa-hub/account/resources/css/account.css
  keycloak-theme/baaa-hub/account/theme.properties
  keycloak-theme/baaa-hub/login/messages/messages_en.properties
  keycloak-theme/baaa-hub/login/messages/messages_it.properties
  keycloak-theme/baaa-hub/login/resources/css/login.css
  keycloak-theme/baaa-hub/login/resources/img/logo.png
  keycloak-theme/baaa-hub/login/theme.properties
Due: prettier --write

Restore embedded login form with Keycloak ROPC flow, public-first routing, and backend registration endpoint (#106)
  apps/Client.Web/src/components/login/LoginForm/LoginForm.model.ts
  apps/Client.Web/src/components/login/LoginForm/LoginForm.test.tsx
  apps/Client.Web/src/components/login/LoginForm/LoginForm.tsx
  apps/Client.Web/src/containers/Administration/Administration.test.tsx
  apps/Client.Web/src/containers/Login/Login.test.tsx
  apps/Client.Web/src/containers/Login/Login.tsx
  apps/Client.Web/src/containers/LoginCallback/LoginCallback.test.tsx
  apps/Client.Web/src/containers/Profile/Profile.test.tsx
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetup.test.tsx
  apps/Client.Web/src/containers/PublicContainer/PublicContainer.test.tsx
  apps/Client.Web/src/containers/PublicContainer/PublicContainer.tsx
  apps/Client.Web/src/containers/core/Router/Router.tsx
  apps/Client.Web/src/hooks/useCurrentUser/useCurrentUser.test.tsx
  apps/Client.Web/src/locales/en/messages.po
  apps/Client.Web/src/locales/it/messages.po
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.model.ts
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.tsx
  apps/Client.Web/src/providers/UserProvider/UserProvider.test.tsx
  apps/Server.API/eslint.config.js
  apps/Server.API/src/config/index.ts
  apps/Server.API/src/controllers/__tests__/auth.controller.test.ts
  apps/Server.API/src/controllers/auth.controller.ts
  apps/Server.API/src/index.ts
  apps/Server.API/src/routes/auth.routes.ts
  docker-compose.yml
  keycloak-theme/README.md
  keycloak-theme/baaa-hub/account/resources/css/account.css
  keycloak-theme/baaa-hub/account/theme.properties
  keycloak-theme/baaa-hub/login/messages/messages_en.properties
  keycloak-theme/baaa-hub/login/messages/messages_it.properties
  keycloak-theme/baaa-hub/login/resources/css/login.css
  keycloak-theme/baaa-hub/login/resources/img/logo.png
  keycloak-theme/baaa-hub/login/theme.properties
Due: eslint --fix, prettier --write

Add Keycloak-specific error handling to login and signup forms (#108)
  apps/Client.Web/src/helpers/getErrorDescription/getErrorDescription.test.tsx
  apps/Client.Web/src/helpers/getErrorDescription/getErrorDescription.tsx
  apps/Client.Web/src/locales/en/messages.po
  apps/Client.Web/src/locales/en/messages.ts
  apps/Client.Web/src/locales/it/messages.po
  apps/Client.Web/src/locales/it/messages.ts
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.model.ts
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.tsx
Due: eslint --fix, prettier --write

Improve test coverage for frontend and backend (#110)
  apps/Client.Web/src/containers/Administration/Administration.test.tsx
  apps/Client.Web/src/containers/Administration/EditRolesDialog.test.tsx
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetup.test.tsx
  apps/Client.Web/src/containers/core/Router/Router.test.tsx
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.spec.tsx
  apps/Client.Web/src/services/adminService.test.ts
  apps/Client.Web/src/services/userService.test.ts
  apps/Server.API/src/services/__tests__/storage.service.test.ts
Due: eslint --fix, prettier --write

Fix CI failures and improve test coverage (#111)
  apps/Client.Web/src/components/commons/inputs/ImageUpload/ImageCropDialog.test.tsx
  apps/Client.Web/src/components/commons/inputs/ImageUpload/ImageUpload.test.tsx
  apps/Client.Web/src/components/commons/inputs/ImageUpload/ImageUpload.utils.test.ts
  apps/Client.Web/src/containers/Administration/Administration.test.tsx
  apps/Client.Web/src/containers/ProfileSetup/ProfileSetup.test.tsx
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.spec.tsx
  apps/Client.Web/vitest.config.ts
Due: eslint --fix, prettier --write

feat: fix login/signup stuff
  apps/Client.Web/src/components/login/LoginForm/LoginForm.model.ts
  apps/Client.Web/src/components/login/SignupForm/SignupForm.tsx
  apps/Client.Web/src/containers/Login/Login.tsx
  apps/Client.Web/src/containers/Logout/Logout.tsx
  apps/Client.Web/src/containers/Signup/Signup.tsx
  apps/Client.Web/src/containers/core/Router/Router.tsx
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.model.ts
  apps/Client.Web/src/providers/AuthProvider/AuthProvider.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,scss,md,yaml,yml})
